@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #253D4E;
  --primary: #005C66;
  --secondary: #3BB77E;
  --accent: #FFB800;
  --heading: #253D4E;
  --body: #7E7E7E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-heading: var(--heading);
  --color-body: var(--body);
}

body {
  background: var(--background);
  color: var(--foreground);
}


.hero-bullet {
  width: 12px;
  height: 12px;
  background: #253D4E;
  opacity: 0.2;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-bullet-active {
  opacity: 1;
  background: #3BB77E;
  transform: scale(1.2);
}
